name: Build Android APK

on:
  push:
    branches: [ "main" ] # Berjalan saat push ke branch main
  workflow_dispatch:      # Agar bisa dijalankan manual

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      # Langkah ini akan membangun APK dalam mode Debug
      - name: Build Debug APK
        run: ./gradlew assembleDebug

      # Langkah ini menyimpan file APK agar bisa diunduh
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-application-debug
          path: app/build/outputs/apk/debug/app-debug.apk
          
